name: CI - Build & Push Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      - 'server/**'
      - 'Dockerfile'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  PROJECT_ID: "gcp-capstone-481414"
  REGION: "us-central1"
  REPO_NAME: "bookshelf-docker-repo"
  IMAGE_NAME: "fastapi-app"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.WIF_SERVICE_ACCOUNT }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Configure Docker Authentication
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

      - name: Build and Push Docker Image
        env:
          IMAGE_URL: ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}
        run: |
          # Build the image
          docker build -t $IMAGE_URL:dev -t $IMAGE_URL:${{ github.sha }} .

          # Push both tags
          docker push $IMAGE_URL:dev
          docker push $IMAGE_URL:${{ github.sha }}
