name: Infrastructure (GKE & Registry)

on:
  push:
    branches: [ "main" ]
    paths:
      - 'infra/**'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  TF_VERSION: "1.14.2"
  GCP_REGION: "us-central1"

jobs:
  deploy-infra-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          service_account: ${{ secrets.WIF_SERVICE_ACCOUNT }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: infra/envs/dev
        run: terraform init

      - name: Terraform Apply
        working-directory: infra/envs/dev
        run: terraform apply -auto-approve -var-file="values.tfvars"


  deploy-infra-prod:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: deploy-infra-dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Initialize Terraform
        run: terraform init

      - name: Plan Terraform for Prod
        run: terraform plan -var-file="values.tfvars"

      - name: Manual Approval
        uses: hmarr/auto-approve-action@v4

      - name: Apply Terraform for Prod
        run: terraform apply -auto-approve -var-file="values.tfvars"